{% extends "bootstrap/base.html" %}
{% block content %}

<div class="container">
    <div class="text-center">
        <h1>編集画面</h1>
        <hr>

        <form method="POST">

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">タイトル</label>
                <input type="text" name="title" class="form-control" value={{ post.title }}>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">内容</label>
                <textarea type="text" name="body" class="form-control" rows="10">{{ post.body }}</textarea>
            </div>

            <input type="submit" class="btn btn-primary" value="更新">
            <a href="/home" class="btn btn-primary" role="button">キャンセル</a>
        </form>
    </div>
</div>

{% endblock %}
